# ── General ───────────────────────────────────────────────────────────────────
DOMAIN=your_domain#ex: mywebsite.com

# ── Postgres Database Environment Variables ──────────────────────────────────
POSTGRES_VERSION=postgres_image_tag#ex: 18-alpine
POSTGRES_DB=your_database_name#ex: postgresql
POSTGRES_USER=your_db_superuser_name#ex: postgresql_superuser
BACKEND_USER=your_backend_user_name#ex: backend_user

FORTYTWO_CLIENT_ID=Add-your-UID-from-42API
FORTYTWO_CLIENT_SECRET=Add-your-secret-from-42API
FORTYTWO_REDIRECT_URI=http://localhost:1024/api/auth/42/callback
FRONTEND_OAUTH_SUCCESS_URL=http://localhost:1024/
VITE_OAUTH_42_START_URL=http://localhost:1024/api/auth/42
