# ── General ──────────────────────────────────────────────────────────────────
DOMAIN=127.0.0.1

# ── Postgres ─────────────────────────────────────────────────────────────────
#ex: 18-alpine
POSTGRES_VERSION=postgres_image_tag

#ex: postgresql
POSTGRES_DB=your_database_name

#ex: postgresql_superuser
POSTGRES_USER=your_db_superuser_name

#ex: backend_user
BACKEND_USER=your_backend_user_name

# ── 42 OAuth ─────────────────────────────────────────────────────────────────
FORTYTWO_CLIENT_ID=your_42_OAuth_id
FORTYTWO_CLIENT_SECRET=your_42_OAuth_Secret
FORTYTWO_REDIRECT_URI=https://127.0.0.1:8443/api/auth/42/callback
FRONTEND_OAUTH_SUCCESS_URL=https://127.0.0.1:8443/
VITE_OAUTH_42_START_URL=https://127.0.0.1:8443/api/auth/42

# ── 2FA ──────────────────────────────────────────────────────────────────────
TWO_FACTOR_URL=https://127.0.0.1:8443/two-factor
