# ── Postgres Database Environment Variables ──────────────────────────────────
POSTGRES_VERSION=postgres_image_tag#ex: 18-alpine
POSTGRES_DB=your_database_name#ex: postgresql
POSTGRES_USER=your_db_superuser_name#ex: postgresql_superuser
BACKEND_USER=your_backend_user_name#ex: backend_user
DATABASE_URL=postgresql://$BACKEND_USER:$BACKEND_PW@db:5432/$POSTGRES_DB?schema=public#ex:DATABASE_URL=postgresql://backend_user:(password-from-backend_pw.txt)@db:5432/postgresql?schema=public
