Andrew <ameechan@student.42lausanne.ch> <81457638+Mikan95@users.noreply.github.com>
Andrew <ameechan@student.42lausanne.ch> Andrew James Meechan <ameechan@student.42lausanne.ch>
Jordan <jordandecarroux@hotmail.com> <162351254+ldsr18@users.noreply.github.com>
Jordan <jordandecarroux@hotmail.com> Jordan Decarroux <jordandecarroux@hotmail.com>
Jordan <jordandecarroux@hotmail.com> ldsr18 <jordandecarroux@hotmail.com>
Nasim <nasim@student.42.fr> <98779137+nasdhn@users.noreply.github.com>
Nasim <nasim@student.42.fr> <nas@mac.home>
Nasim <nasim@student.42.fr> <nas@MacBook-Air-de-Nasim.local>
Nasim <nasim@student.42.fr> Nasim Dahman <nasim@student.42.fr>
Nico <nryser@student.42.fr> <78120014+Nico-Ry@users.noreply.github.com>
Nico <nryser@student.42.fr> <nryser@student.42lausanne.ch>
Nico <nryser@student.42.fr> nryser <nryser@student.42.fr>
Simo <simo1616@gmail.com> <83559414+simo1616@users.noreply.github.com>
Simo <simo1616@gmail.com> simo1616 <simo1616@gmail.com>